.innertopheader.onboarding-bnr {
  background-image: url(/sites/default/files/img/header/onboarding-mob.jpg);
}
@media (min-width: 576px) {
  .innertopheader.onboarding-bnr {
    background-image: url(/sites/default/files/img/header/onboarding-banner.jpg);
    background-position: right 25% center;
  }
}
.filtersubnavi-ob .filtersubnavi-items:first-child {
  margin-left: 0px;
  padding-left: 5px;
}
.filtersubnavi-ob {
  max-width: 945px;
}
.filtersubnavi-ob .slick-prev,
.filtersubnavi-ob .slick-next {
  position: absolute;
  display: block;
  top: 50%;
  -webkit-transform: translate(0, -60%);
  -ms-transform: translate(0, -60%);
  transform: translate(0, -60%);
  color: #ffffff;
  font-size: calc(1rem * var(--text-multiplier, 0.83));
  font-weight: 700;
  border-radius: calc(4rem * var(--text-multiplier, 0.85));
  -webkit-border-radius: calc(4rem * var(--text-multiplier, 0.85));
  -moz-border-radius: calc(4rem * var(--text-multiplier, 0.85));
  background: -webkit-linear-gradient(180deg, #ff6624 0%, #ec1c24 100%)
    no-repeat;
  background: -moz-linear-gradient(180deg, #ff6624 0%, #ec1c24 100%) no-repeat;
  background: -o-linear-gradient(180deg, #ff6624 0%, #ec1c24 100%) no-repeat;
  background: linear-gradient(180deg, #ff6624 0%, #ec1c24 100%) no-repeat;
  width: calc(2.5rem * var(--text-multiplier, 0.83));
  height: calc(2.5rem * var(--text-multiplier, 0.83));
  margin: calc(0.125rem * var(--text-multiplier, 0.83));
  background: #ffffff;
  box-shadow: 0 0 calc(1rem * var(--text-multiplier, 0.83)) rgba(0, 0, 0, 0.1) !important;
  align-items: center;
  transition: ease all 0.3s;
  font-size: 0;
  z-index: 99;
}
@media all and (min-width: 1304px) {
  .filtersubnavi-ob .slick-prev,
  .filtersubnavi-ob .slick-next {
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}
@media all and (min-width: 1440px) {
  .filtersubnavi-ob .slick-prev,
  .filtersubnavi-ob .slick-next {
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}
.filtersubnavi-ob .slick-prev:hover,
.filtersubnavi-ob .slick-prev:focus,
.filtersubnavi-ob .slick-next:hover,
.filtersubnavi-ob .slick-next:focus {
  outline: none;
  background: #ffffff;
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.11) !important;
}
.filtersubnavi-ob .slick-prev:hover:before,
.filtersubnavi-ob .slick-prev:focus:before,
.filtersubnavi-ob .slick-next:hover:before,
.filtersubnavi-ob .slick-next:focus:before {
  opacity: 1;
}
.filtersubnavi-ob .slick-prev.slick-disabled:before,
.filtersubnavi-ob .slick-next.slick-disabled:before {
  opacity: 0;
}
.filtersubnavi-ob .slick-prev.slick-disabled,
.filtersubnavi-ob .slick-next.slick-disabled {
  opacity: 0;
}
.filtersubnavi-ob .slick-prev:before,
.filtersubnavi-ob .slick-next:before {
  font-family: "unificon";
  font-size: calc(1.5rem * var(--text-multiplier, 0.83));
  line-height: 1;
  color: #ff6624;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.filtersubnavi-ob .slick-prev {
  left: 0.8%;
}
.filtersubnavi-ob .slick-prev:before {
  content: "" !important;
  margin-left: calc(-0.25rem * var(--text-multiplier, 0.83));
}
@media all and (min-width: 992px) {
  .filtersubnavi-ob .slick-prev {
    left: -4.5%;
  }
}
@media all and (min-width: 1366px) {
  .filtersubnavi-ob .slick-prev {
    left: -4.5%;
  }
}
.filtersubnavi-ob .slick-next {
  right: 0.8%;
}
.filtersubnavi-ob .slick-next:before {
  content: "" !important;
}
@media all and (min-width: 992px) {
  .filtersubnavi-ob .slick-next {
    right: -3.5%;
  }
}
@media all and (min-width: 1366px) {
  .filtersubnavi-ob .slick-next {
    right: -3.7%;
  }
}
@media all and (max-width: 1199px) {
  .filtersubnavi-ob .slick-prev,
  .filtersubnavi-ob .slick-next {
    display: none !important;
  }
  .filtersubnavi-ob .slick-list {
    overflow: visible;
  }
}
@media all and (min-width: 1680px) {
  .filtersubnavi-ob {
    max-width: 1000px;
  }
}
/* @media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1000px;
  }
} */
.onboarding-box {
  border-radius: calc(1.05rem * var(--text-multiplier, 0.85));
  -webkit-border-radius: calc(1.05rem * var(--text-multiplier, 0.85));
  -moz-border-radius: calc(1.05rem * var(--text-multiplier, 0.85));
  background: #fff;
  padding: calc(1.3rem * var(--text-multiplier, 0.65))
    calc(1.3rem * var(--text-multiplier, 0.45));
  color: #666666;
}
.onboarding-box ul {
  padding-left: 17px;
}
.onboarding-max {
}
.img-responsive {
  max-width: 100%;
}
.ob-float {
  position: absolute;
  bottom: 3%;
  left: 7%;
}
.ob-float-rewards {
  position: absolute;
  bottom: 20%;
  left: 7%;
}
.text-dg {
  color: #363636;
}
.tb-box {
  background: #f7eeea;
  padding: 20px 5px;
  border-radius: 8px;
  height: 100%;
}
.tb-box div {
  max-width: 60px;
  display: inline-block;
}
.tb-content .row {
  margin-right: -5px;
  margin-left: -5px;
}
.tb-content .col-lg-3,
.tb-content .col-md-6 {
  padding-right: 5px;
  padding-left: 5px;
}
.flexme {
  display: flex;
  /* margin-left: -5px;
  margin-right: -5px; */
}
.icon-shadow img {
  box-shadow: 0 6px 15px 5px rgb(239 64 26 / 20%) !important;
  border-radius: 25px;
}
.icon-shadow {
  max-width: 85px;
}
/* .flexme div {
  padding: 0px 5px;
} */
.en-icon1 {
  max-width: 130px;
}
.ur-box {
  position: relative;
}
.step-cat {
  background: #df1c10;
  color: #fff;
  font-size: 14px;
  padding: 3px 20px;
  border-radius: 50px;
  vertical-align: middle;
  display: inline-block;
  position: absolute;
  top: -11px;
  left: 0px;
}
.ur-box {
  background: #f7eeea;
  padding: 25px 15px 20px;
  border-radius: 8px;
  height: 100%;
  line-height: 1.2;
}
.ur-flex {
  display: flex;
  align-items: center;
}
.ur-flex div:first-child {
  min-width: 45px;
}
@media (max-width: 991px) {
  .onboarding-box .first-col img {
    width: 100%;
  }
  .onboarding-box .first-col {
    margin-bottom: 20px;
  }
  .tb-content .col-lg-3 a {
    margin-bottom: 10px;
    display: block;
  }
  #filter-onboarding4 .btn-primary {
    margin-bottom: 20px;
  }
  #filter-onboarding5 .flexme {
    margin-bottom: 20px;
  }
  #filter-onboarding5 .btn-primary {
    margin-top: 0px !important;
  }
  #filter-onboarding6 .onboarding-max .col-md-6 {
    margin-bottom: 20px;
  }
  #filter-onboarding6 .onboarding-max .row.mt-4 {
    margin-top: 0px !important;
  }
  #filter-onboarding7 .onboarding-box .row.mt-4 {
    margin-top: 0px !important;
  }
}
